<main class="registration-container">
    <div class="registration-content">
      <h1 class="registration-title">Crear una nueva cuenta</h1>
      <p class="login-prompt">¿Ya te registraste?</p>
      <a routerLink="/login" class="login-link">Accede</a>
      <form class="registration-form">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Clave</mat-label>
          <input matInput formControlName="password" type="password" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Repetir Clave</mat-label>
          <input matInput formControlName="password" type="password" required />
        </mat-form-field>
        <button mat-raised-button color="primary" [routerLink]="['../../reminders']">Registrarse</button>
      </form>
    </div>
    <div class="registration-image-container">
      <img
        src="waves.webp"
        alt="Signup Image"
        class="registration-image"
      />
    </div>
  </main>
  