.sidenav-container {
    height: 100vh; /* Ensure the container takes the full height of the viewport */
  }
  
  .reminder-drawer {
    width: 254px;
    background-color: #cce5ff;
    display: flex;
    flex-direction: column;
    padding: 12px;
    overflow: auto;
  }
  
  .reminder-header {
    display: flex;
    align-items: center;
    padding: 18px 16px;
  }
  
  .reminder-title {
    color: #2f3133;
    letter-spacing: 0.1px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .reminder-item {
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .reminder-item-active .reminder-button {
    color: #000;
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  .reminder-button {
    display: flex;
    align-items: center; /* Align items vertically within the button */
    justify-content: flex-start; /* Align the content horizontally to the left */
    width: 100%; /* Ensure the button takes the full width of the container */
    padding: 16px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .reminder-icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
  }
  
  .reminder-label {
    flex: 1; /* Make sure the label takes up remaining space */
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
  }
  
  .reminder-badge {
    margin-left: auto; /* Ensures the badge stays on the far right */
  }
  
  mat-divider {
    margin: 8px 0;
  }
  